<a href="https://colab.research.google.com/github/Jaloliddin01/Data-Science-Learning/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
!wget "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"

--2022-01-23 07:22:31--  https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/electricity.db [following]
--2022-01-23 07:22:31--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/electricity.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 565248 (552K) [application/octet-stream]
Saving to: ‘electricity.db’

electricity.db      100%[===================>] 552.00K  --.-KB/s    in 0.005s

2022-01-23 07:22:31 (104 MB/s) - ‘electricity.db’ saved [565248/565248]

In [3]:
db = sql.connect("electricity.db")
cursor = db.cursor()

In [4]:
cursor.execute("select name from sqlite_master where type = 'table'")
cursor.fetchall()

[('elect',)]

In [5]:
cursor.execute("pragma table_info(elect)")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [8]:
pd.read_sql("select * from elect", db, index_col='index').head()

           country code  year  coal  ...  solar  oil  wind  nuclear
index                                ...
0      Afghanistan  AFG  2000   0.0  ...    0.0  0.0   0.0      0.0
1      Afghanistan  AFG  2001   0.0  ...    0.0  0.0   0.0      0.0
2      Afghanistan  AFG  2002   0.0  ...    0.0  0.0   0.0      0.0
3      Afghanistan  AFG  2003   0.0  ...    0.0  0.0   0.0      0.0
4      Afghanistan  AFG  2004   0.0  ...    0.0  0.0   0.0      0.0

[5 rows x 11 columns]

In [17]:
qy = "select * from elect"
countries = pd.read_sql(qy, db)
countries.size

74892

In [18]:
'Uzbekistan' in countries['country'].values

True

In [19]:
uzb = pd.read_sql(qy, db)[pd.read_sql(qy, db)['country'] == 'Uzbekistan']
uzb

      index     country code  year  ...     solar       oil  wind  nuclear
5964   5964  Uzbekistan  UZB  2000  ...  0.000000  1.380143   0.0      0.0
5965   5965  Uzbekistan  UZB  2001  ...  0.000000  1.399642   0.0      0.0
5966   5966  Uzbekistan  UZB  2002  ...  0.000000  1.452939   0.0      0.0
5967   5967  Uzbekistan  UZB  2003  ...  0.000000  1.407634   0.0      0.0
5968   5968  Uzbekistan  UZB  2004  ...  0.000000  1.379355   0.0      0.0
5969   5969  Uzbekistan  UZB  2005  ...  0.000000  1.366882   0.0      0.0
5970   5970  Uzbekistan  UZB  2006  ...  0.000000  1.406953   0.0      0.0
5971   5971  Uzbekistan  UZB  2007  ...  0.000000  1.433584   0.0      0.0
5972   5972  Uzbekistan  UZB  2008  ...  0.000000  1.281634   0.0      0.0
5973   5973  Uzbekistan  UZB  2009  ...  0.000000  1.080645   0.0      0.0
5974   5974  Uzbekistan  UZB  2010  ...  0.000000  1.164793   0.0      0.0
5975   5975  Uzbekistan  UZB  2011  ...  0.000000  1.253064   0.0      0.0
5976   5976  Uzbekistan  UZB  2012  ...  0.000000  1.232952   0.0      0.0
5977   5977  Uzbekistan  UZB  2013  ...  0.001996  1.301270   0.0      0.0
5978   5978  Uzbekistan  UZB  2014  ...  0.002046  1.321888   0.0      0.0
5979   5979  Uzbekistan  UZB  2015  ...  0.002176  1.251363   0.0      0.0
5980   5980  Uzbekistan  UZB  2016  ...  0.004643  1.282778   0.0      0.0
5981   5981  Uzbekistan  UZB  2017  ...  0.006290  1.308332   0.0      0.0
5982   5982  Uzbekistan  UZB  2018  ...  0.006827  1.409975   0.0      0.0
5983   5983  Uzbekistan  UZB  2019  ...  0.006827  1.462846   0.0      0.0
5984   5984  Uzbekistan  UZB  1985  ...  0.000000       NaN   0.0      0.0
5985   5985  Uzbekistan  UZB  1986  ...  0.000000       NaN   0.0      0.0
5986   5986  Uzbekistan  UZB  1987  ...  0.000000       NaN   0.0      0.0
5987   5987  Uzbekistan  UZB  1988  ...  0.000000       NaN   0.0      0.0
5988   5988  Uzbekistan  UZB  1989  ...  0.000000       NaN   0.0      0.0
5989   5989  Uzbekistan  UZB  1990  ...  0.000000       NaN   0.0      0.0
5990   5990  Uzbekistan  UZB  1991  ...  0.000000       NaN   0.0      0.0
5991   5991  Uzbekistan  UZB  1992  ...  0.000000       NaN   0.0      0.0
5992   5992  Uzbekistan  UZB  1993  ...  0.000000       NaN   0.0      0.0
5993   5993  Uzbekistan  UZB  1994  ...  0.000000       NaN   0.0      0.0
5994   5994  Uzbekistan  UZB  1995  ...  0.000000       NaN   0.0      0.0
5995   5995  Uzbekistan  UZB  1996  ...  0.000000       NaN   0.0      0.0
5996   5996  Uzbekistan  UZB  1997  ...  0.000000       NaN   0.0      0.0
5997   5997  Uzbekistan  UZB  1998  ...  0.000000       NaN   0.0      0.0
5998   5998  Uzbekistan  UZB  1999  ...  0.000000       NaN   0.0      0.0

[35 rows x 12 columns]

In [27]:
tw = pd.read_sql("select * from elect where year == 2001 and country != 'World' ORDER BY gas DESC", db, index_col='index')
tw.head(10)

             country  code  year  ...         oil       wind      nuclear
index                             ...
3899   North America  None  2001  ...  242.927349   7.152385   894.178956
5903   United States   USA  2001  ...  136.786564   6.737332   768.826308
282     Asia Pacific  None  2001  ...  383.197271   3.517409   506.603952
1784          Europe  None  2001  ...  188.577279  26.934287  1082.005867
1527          EU27+1  None  2001  ...  243.482541  26.747566   978.981000
887              CIS  None  2001  ...   44.968384   0.003100   138.922000
1506           EU-27  None  2001  ...  234.123347  25.782480   888.887000
4671          Russia   RUS  2001  ...   32.456590   0.003000   125.360000
3475     Middle East  None  2001  ...  194.432734   0.046700     0.000000
2773           Japan   JPN  2001  ...  140.209176   0.252000   303.865000

[10 rows x 11 columns]